<head>
    <meta charset="UTF-8" />
    <title>Rate-My-Sitter</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Rate my sitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/landing">Sign out</a>
                </li>

            </ul>
        </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="datetime">
            <p></p>
            <p id="datetime"></p>
        </div>
        <div class="row">
            <div class="col-md-12 note-container"></div>
        </div>
        <div class="container2">
            <div class="row mt-4">
                <div class="col-md-7">
                    <div class="form-group">
                        <select class="custom-select" id="category">
                            <option selected value="">Choose A Category</option>
                            <option value="Review">Review</option>
                            <option value="Job">Job</option>
                            <option value="Misc">Misc</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <a class="btn btn-light" href="/review">Leave a Review!</a>
                </div>
            </div>
        </div>
        <hr>
    </div>

</body>
<br>

<footer class="footer mt-auto py-3 center">
    <div class="container">
        <span class="text-muted">Follow us on <a href="#" class="fa fa-facebook"> Facebook </a> <br>
            <a href="#" class="fa fa-twitter"> Twitter </a> <br> <a href="" class="fa fa-github"> Github </a> </span>


    </div>
</footer>

<style>
   
</style>