<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    <form id="signup" name="signup" method="post" action="/signup">
                        <label for="email">Email Address</label>
                        <input class="text" name="email" type="email" />
                        <label for="firstname">First name</label>
                        <input name="firstname" type="text" />
                        <label for="lastname">Last name</label>
                        <input name="lastname" type="text" />
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                        <hr>
                        <input class="btn btn-primary btn-block" type="submit" value="Sign Up" />
                    </form>
                </h1>
            </div>
        </div>
    </div>
</div>

</body>

</html>