<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 m-auto">
                <h1>
                    <form id="signin" name="signin" method="post" action="signin">
                        <label for="email">Email Address</label>
                        <input class="text" name="email" type="text" />
                        <br>
                        <br>
                        <label for="password"> Password</label>
                        <input name="password" type="password" />
                        <br>
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Sign In" />
                    </form>
                </h1>
                <hr>
                <p class="lead mt-4">
                    New user? <a href="/signup">Register</a>
                </p>
            </div>
        </div>
    </div>


</body>

</html>